# Author(s): Michael Plunkett
./test @chanteriam @michplunkett @ehabich @necabotheking

# People are marked as code owners in the order of: primary_person, secondary_person
*py @michplunkett @ehabich

./api @chanteriam @necabotheking
./data_handling @ehabich @chanteriam
./util @chanteriam @michplunkett @ehabich @necabotheking
./visualization @necabotheking @michplunkett
